*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    width:1800px !important;
    padding: 0 !important;
 
}

.top-head ,.contacts ,.social-webs{
    display: flex;
}

.top-head{
    background-color: rgba(25, 14, 44, 0.774);
    height: 40px;
    width:100%
}

.contacts{
    margin-left: 200px;
    padding: 5px 0;
}


.contacts>a{
    color: rgba(255, 255, 255, 0.493);
    font-family: sans-serif;
}

.contacts i{
    color: rgba(255, 68, 0, 0.623);
    font-weight:bold;
    font-size: 15px;
    padding-right: 2px;
}

.social-webs{
    margin-left: 800px;
    margin-right:30px;
    padding:2px 0;
    transform: translateX(-105px);
}


.social-webs a{
    padding-top: 5px;
    padding-bottom: 5px;
}

.social-webs i{
    color: rgba(255, 255, 255, 0.966);
    padding:0 10px;
    font-size: 18px;
}

.local-guide{
    background-color:rgb(255, 107, 87);
    color: rgb(255, 255, 255);
    transform: translateX(-100px);
    width:220px;
    text-align: center;
    
}

.local-guide h4{
    font-size: 13px;
    padding:10px 20px;
    
}

.carousel-variant{
height:700px;
background-image: url(https://images.unsplash.com/photo-1526772662000-3f88f10405ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
background-repeat:no-repeat;
background-position:center;
background-size: cover;
position:relative;
text-align: center;

}

.arrow-left{
    width:60px;
    height:65px;
    font-size: 40px;
    color: white;
    border: solid 2px;
    border-radius: 50%;
    position:absolute;
    top: 50%;
    left: 50px;
    text-align: center;
    cursor: pointer;
}


.arrow-right{
    font-size:40px;
    color: white;
    width:60px;
    height:65px;
    border: solid 2px;
    border-radius: 50%;
    position: absolute;
    right:50px;
    top: 50%;
    text-align: center;
    cursor: pointer;
}

.carousel-variant h1{
    font-family: 'Satisfy', cursive;
    font-size:80px;
    color: rgba(255, 68, 0, 0.623);;
}



.carousel-text{
    transform: translateY(230px);
}

.carousel-variant h4{
    color: white;
    font-size: 35px;
    font-family: sans-serif;
}



.nav-logo{
     transform: translateX(200px)
}




.nav-row{
    transform: translateX(450px);
    font-family: sans-serif;
    color: rgba(236, 234, 234, 0.486);
    font-size: 18px;
    
}

.nav-row li{
padding: 0px 20px;
height:100%;
}



.nav-row a:hover{
    color: black !important;
    border-bottom: solid 2px orangered;
    transition: all .2s ease-in;
    
}


.search-icons  {
    transform: translateX(625px);
    color: grey;
    font-size: 30px;
    background-color:transparent;
    
}

.search-icons a{
    color: grey;
    font-size: 30px;
}


.find-now-content{
    width:63%;
    height:100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    text-align: left;
    position:absolute;
    top: 100%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    max-width: 100%;
    padding-left:15px;
 
   
    
}

.find-now-content>div> p{
    margin: 0;
    font-size:18px;
    color: rgb(107, 106, 106);
    font-family: sans-serif;
}

.find-now-content>div> h5{
   color: black;
   font-family: sans-serif;
}


.find-now-content>div{
    padding:20px;
    padding-top: 25px;
    border-right: solid 1px #cccccc;
    padding-right: 20px;
    width: 290px;
}

.find-now{
    width:300px;
    height: 100%;
    background-color:rgb(235, 50, 26);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: sans-serif;
    border-right:transparent !important;
}


.find-now h4{
    color: white;
    font-size: 20px;
    margin-bottom: 0;
    
}


.exotic-places{
    text-align: center;
    transform:translateY(140px);
}

.exotic-places h6{
    font-family: 'Inspiration', cursive;
    font-size: 50px;
    color: rgba(245, 68, 4, 0.897);;
    margin-bottom: 0;
}


.exotic-places h1{
    font-family: Halvetica;
    margin-top: 0;
}

.exotic-photos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.exotic-inline-photos{
    width:1134px;
    height: 500px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    
}



.small-image{
    width:300px;
    height:270px;
    position:relative;
}

.big-image{
    width:534px;
    height:270px;
    position:relative;
}


.exotic-inline-photos img{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding:4px;
}

.big-2-image{
    height:270px;
    width:567px;
}


.spain{
    position:absolute;
    left: 40px;
    top: 200px;
    color: white;
}

.thailand{
    position:absolute;
    left: 40px;
    top: 165px;
    color: white;
    
}


.thailand h6{
    font-size: 35px;
    color: rgba(245, 68, 4, 0.897);;
    text-align: left;
}